services:
  shopify-product-designer:
    # remove container_name
    image: pixobe.com.shopify-product-designer:${APP_VERSION}
    restart: always
    ports:
      - "${SHOPIFY_APP_PORT}:3000"
    env_file:
      - .env.${ENVIRONMENT:-prod}
