services:
  shopify-product-designer:
    image: pixobe.com/shopify-product-designer:${APP_VERSION}
    restart: always
    pull_policy: never
    ports:
      - "${SHOPIFY_APP_PORT}:3000"
    env_file:
      - .env.${ENVIRONMENT}  # Use a variable here
    environment:
      - NODE_ENV=production