services:
  shopify-product-designer:
    image: pixobe.com/shopify-product-designer:${APP_VERSION}
    restart: always
    pull_policy: never # Forces use of local build
    ports:
      - "${SHOPIFY_APP_PORT}:3000"
    env_file:
      - .env.${ENV_TYPE}
    environment:
      # Use this only for overrides; env_file handles the rest
      - NODE_ENV=production