<script>
  (function () {
    const script = document.createElement('script');
    script.type = 'module';
    script.async = true;
    script.src = 'https://product.pixobe.com/product-designer.js';
    document.head.appendChild(script);
  })();
</script>

<div class="pixobe-product-design-block" {{ block.shopify_attributes }}>
  {% render 'customize-button', is_embed: false %}
</div>

{% schema %}
{
  "name": "Product Customize Button",
  "target": "section",
  "settings": [
    { "type": "text", "id": "button_label", "label": "Label", "default": "Customize" },
    { "type": "color", "id": "button_background_color", "label": "Colour", "default": "#000000" },
    { "type": "color", "id": "button_text_color", "label": "Text colour", "default": "#ffffff" },
    { "type": "color", "id": "button_hover_color", "label": "Hover colour", "default": "#000000" },
    { "type": "color", "id": "button_text_hover_color", "label": "Text hover colour", "default": "#ffffff" },
    { "type": "color", "id": "button_border_color", "label": "Border colour", "default": "#000000" },
    {
      "type": "range",
      "id": "button_margin",
      "label": "Margin",
      "min": 0,
      "max": 24,
      "step": 1,
      "unit": "px",
      "default": 16
    },
    {
      "type": "range",
      "id": "button_padding",
      "label": "Padding",
      "min": 0,
      "max": 24,
      "step": 1,
      "unit": "px",
      "default": 16
    },
    {
      "type": "range",
      "id": "button_border_radius",
      "label": "Border Radius",
      "min": 0,
      "max": 32,
      "step": 1,
      "unit": "px",
      "default": 28
    },
    {
      "type": "range",
      "id": "button_border_width",
      "label": "Border width",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "default": 1
    },
    {
      "type": "range",
      "id": "button_max_width",
      "label": "Button Max Width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "rem",
      "default": 1
    },
    { "type": "checkbox", "id": "button_full_width", "label": "Full width", "default": true },
    { "type": "checkbox", "id": "hide_button", "label": "Hide Button", "default": false }
  ]
}
{% endschema %}
