<div class="product-form-buttons">
  <button type="button" class="product-customize-button" onclick="onCustomizeButtonClick();">
    {{ 'button.customize' | t }}
    <s-spinner accessibilityLabel="Loading" size="base" tone="inherit" />
  </button>
</div>

<dialog data-pixobe-dialog></dialog>
