<div class="product-form-buttons">
  <button
    type="button"
    class="product-customize-button"
    data-product="{{ product.id }}"
    onclick="pcustomize(event);"
  >
    <span>
      {{ 'button.customize' | t }}
    </span>
    <div class="swrapper">
      <icon-spinner></icon-spinner>
    </div>
  </button>
</div>

<dialog data-pixobe-dialog></dialog>
