{%- assign locale = localization.language.iso_code -%}

<div class="pixobe-viewcustomization-{{ block.id }}">
  <p-shopify-editcustomization
    label="View Customization"
    locale="{{ locale }}"
  >
  </p-shopify-editcustomization>
</div>
