<div style="position: fixed; bottom: 0; right: 0;">
  {% assign btn_background = block.settings.btn_background %}
  {% assign btn_color = block.settings.btn_color %}
  {% render 'customize_button', btn_background: btn_background, btn_color: btn_color %}
</div>
{% schema %}
{
  "name": "Customize Button",
  "target": "body",
  "settings": [
    {
      "type": "color",
      "label": "Background",
      "default": "#f9f9f9",
      "id": "btn_background"
    },
    {
      "type": "color",
      "label": "Text Color",
      "default": "#3d3d3d",
      "id": "btn_color"
    }
  ]
}
{% endschema %}
