<div style="position: fixed; bottom: 0; right: 0;">
  <button>Customize</button>
</div>
{% schema %}
{
  "name": "Customize Button",
  "target": "body",
  "settings": [
    {
      "type": "color",
      "label": "background",
      "default": "#f9f9f9",
      "id": "background-color",
      "info": "Background color of the button"
    }
  ]
}
{% endschema %}
