<button
  type="button"
  class="shopify-payment-button__button shopify-payment-button__button--unbranded"
  style="background-color:{{btn_background}};color:{{btn_color}}"
>
  {{ 'labels.customize_button' | t }}
</button>
